/*================
      Geral
==================*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243D;
}
a{
    color: #21243D;
    text-decoration: none;
}
html {
    font-size: calc(15px + 0.390625vw);
}
p{
    line-height: 130%;
}
section h2{
    text-align: center;
}

img{
    max-width: 100%;
}

