/*================
      Geral
==================*/

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243D;
}
a{
    color: #21243D;
    text-decoration: none;
}
html {
    font-size: calc(15px + 0.390625vw);
}
p{
    line-height: 130%;
}
section h2{
    text-align: center;
}

img{
    max-width: 100%;
}

/*================
    especifico
==================*/

header ul li{
    text-align: center;
    padding: 10px 0 10px 0;
}
section.banner{
    text-align: center;
    padding: 0 5% 0  5%;
}
section.banner h1{
    font-weight: bold;
    font-size: 2rem;
    margin: 10px 0 10px 0;
}
section.banner div button{
    background-color: #FF6464;
    border: none;
    color: white;
    display: inline-block;
    margin: 10px 0 50px;
    padding: 5px 10px;
    font-size: 1.2rem;
}

section.post{
    background-color: #EDF7FA;
    padding: 10px;
}
section.post h2{
    margin: 15px 0 15px 0;
}
section.post ul li{
    border-radius: 10px;
    background-color: white;
    padding: 15px;
    margin: 10px 0px 10px 0px;
}
section.post ul li h3{
    font-weight: bold;
    font-size: 1.2rem;
}
section.post ul li p{
        margin: 20px 0 0 0;
}
section.works{
    padding: 20px 10px 20px 10px;
}
section.works ul li{
    padding: 15px 0;
}
section.works ul li h3{
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 130%;
    margin: 15px 0px 15px 0px;
}
section.works ul li p.info{
    color: #8695A4;
    margin: 15px 0px 15px 0px;
}
section.works ul li p.info span{
    color: white;
    background-color: #142050;
    font-weight: bold;
    padding: 3px 10px;
    border-radius: 20px;
}
section.works ul{
    border-bottom: 1px solid black;
}

footer p a{
    margin: 10px 15px;
    font-size: 2.3rem;
}
footer{
    text-align: center;
    margin: 10px 15px;
}

/*================
      DESKTOP
==================*/

@media (min-width: 900px){
    header ul{
        display: flex;
        justify-content: right;
    }
    header ul li{
        margin: 0 10px 0 10px;
    }
    section.banner{
        display: flex;
        flex-direction: row-reverse;
        text-align: left;
        margin: 5vw 10vw;
    }
    section.banner .imagem{
        margin-left: 7vw;
    }
    section h2{
        text-align: left;
    }
    section.post{
        padding: 5vw 10vw;
    }
    section.post ul li{
        margin-right: 15px;
    }
    section.post ul, section.works ul{
        display: flex;
        flex-direction: space-between;
    }
    section.post ul li, section.works ul li{
        width: 45%;
    }
    section.works {
        padding: 5vw 10vw;
    }

    section.works{
        padding: 5vw 10vw;
    }
    section.works ul li img{
        width: 80%;
    }
    section.works ul li{
        width: 80%;
        
    }
}