/*================
      Geral
==================*/

body{
    background-color: antiquewhite;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #21243D;
}
a{
    color: #21243D;
    text-decoration: none;
}

/*================
    especifico
==================*/

header ul li{
    text-align: center;
    padding: 10px 0 10px 0;
}